@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .logo {
    padding-top: 30px;
  }
  .logo__text {
    padding-bottom: 90px;
  }

  .lead__title {
    max-width: 530px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
  }
  .lead__subtitle {
    max-width: 720px;
    width: 100%;
    margin-bottom: 30px;
  }
  .lead__image {
    max-width: 768px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 90px;
  }
  .intro {
    max-width: 720px;
    width: 100%;
    margin-bottom: 64px;
  }
  .intro__title {
    max-width: 707px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .intro__text_1 {
    max-width: 720px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .intro__text-name {
    max-width: 720px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin-bottom: 32px;
  }

  .intro__text_2 {
    max-width: 720px;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }

  .photo-grid {
    max-width: 720px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
    margin-bottom: 88px;
  }

  .photo-grid__item {
    max-width: 352px;
    width: 100%;
  }

  .places {
    max-width: 720px;
    padding-bottom: 90px;
  }

  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px 1fr;
    gap: 48px 28px;
    padding-bottom: 72px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .place__website {
    max-width: 352px;
  }

  .website__url-heading {
    max-width: 67px;
    line-height: 15px;
  }

  .website__artist {
    max-width: 352px;
    margin: 0;
  }

  .place__image {
    max-width: 340px;
    max-height: 340px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    padding-top: 20px;
  }
  .logo__image {
    max-width: 24px;
    width: 100%;
    padding-bottom: 17px;
  }
  .logo__text {
    max-width: 189px;
    width: 100%;
    margin-bottom: 51px;
    padding: 0;
  }
  .lead__title {
    max-width: 228px;
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
  .lead__subtitle {
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .lead__image {
    max-width: 320px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 64px;
  }
  .intro {
    max-width: 288px;
    width: 100%;
    margin-bottom: 38px;
  }

  .intro__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text_1 {
    max-width: 288px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .intro__text-name {
    max-width: 288px;
    width: 100%;
    margin-bottom: 32px;
  }

  .intro__text_2 {
    max-width: 720px;
    width: 100%;
  }

  .photo-grid {
    max-width: 288px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
    margin-bottom: 62px;
  }

  .photo-grid__item {
    max-width: 288px;
  }

  .places {
    max-width: 320px;
    padding-bottom: 65px;
  }

  .place {
    max-width: 320px;
    width: 100%;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 50px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "button";
  }

  .place__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }

  .place__website {
    max-width: 320px;
    max-height: 89px;
  }

  .website__url-heading {
    max-width: 288px;
    margin: auto;
    padding-bottom: 8px;
  }

  .website__artist {
    max-width: 288px;
    text-align: left;
    margin: auto;
  }

  .place__image {
    max-width: 320px;
    max-height: 320px;
  }

  .place__paragraphs {
    max-width: 320px;
    width: 100%;
    margin: auto;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .place__button {
    max-width: 288px;
    width: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }

  .footer {
    margin-top: 0px;
  }

  .footer__copyright {
    line-height: 14px;
  }
}
